index.html
{
  "name": "Globo - Supprimer Utilisateur",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "delete-user",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1111111-1111-1111-1111-111111111111",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-880, 128],
      "webhookId": "delete-user-webhook-001"
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/direction-svg/globo-command-center/contents/data.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {}
      },
      "id": "b2222222-2222-2222-2222-222222222222",
      "name": "GET data.json",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-656, 128],
      "credentials": {
        "githubApi": {
          "id": "BIfD9dQCMvcsL8f0",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const incoming = $('Webhook').first().json;\nconst body = incoming.body || incoming;\nconst githubResponse = $('GET data.json').first().json;\n\nlet currentContent;\ntry {\n  const decoded = Buffer.from(githubResponse.content, 'base64').toString('utf8');\n  currentContent = JSON.parse(decoded);\n} catch(e) {\n  currentContent = {};\n}\n\nif (!body.username) {\n  throw new Error('Username manquant');\n}\n\nif (body.username === 'christopher') {\n  throw new Error('Impossible de supprimer le Super Admin');\n}\n\nif (!currentContent.users) currentContent.users = [];\n\nconst index = currentContent.users.findIndex(function(u) { return u.username === body.username; });\nif (index === -1) {\n  throw new Error('Utilisateur introuvable : ' + body.username);\n}\n\ncurrentContent.users.splice(index, 1);\n\nconst newContent = Buffer.from(JSON.stringify(currentContent, null, 2)).toString('base64');\n\nreturn [{ json: { content: newContent, sha: githubResponse.sha, username: body.username } }];"
      },
      "id": "c3333333-3333-3333-3333-333333333333",
      "name": "Supprimer utilisateur",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-448, 128]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://api.github.com/repos/direction-svg/globo-command-center/contents/data.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "message", "value": "=Delete user {{ $json.username }}" },
            { "name": "content", "value": "={{ $json.content }}" },
            { "name": "sha", "value": "={{ $json.sha }}" }
          ]
        },
        "options": {}
      },
      "id": "d4444444-4444-4444-4444-444444444444",
      "name": "PUT data.json",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [64, -80],
      "credentials": {
        "githubApi": {
          "id": "BIfD9dQCMvcsL8f0",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Compte supprimé avec succès', username: $('Supprimer utilisateur').first().json.username }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [368, 64],
      "id": "e5555555-5555-5555-5555-555555555555",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "GET data.json", "type": "main", "index": 0 }]]
    },
    "GET data.json": {
      "main": [[{ "node": "Supprimer utilisateur", "type": "main", "index": 0 }]]
    },
    "Supprimer utilisateur": {
      "main": [[{ "node": "PUT data.json", "type": "main", "index": 0 }]]
    },
    "PUT data.json": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "meta": {
    "instanceId": "d822ada2be4c04f47877a701fe8097fb7c7d0d5fb59c9918df559d0009940f51"
  },
  "tags": []
}
